 <div class="box2">
        <h1 style="font-family: 'Satisfy', cursive; font-size:62px;" class="contact-title">Hi There!</h1>
        <p style="font-family: 'Satisfy', cursive; font-size:32px; padding:50px;" class="contact-content">I thrive on challenge and constantly set goals for myself, so I have something to strive towards. I am not comfortable with settling, and I am always looking for an opportunity to do better and achieve greatness.</p>
        <p  style="font-family: 'Satisfy', cursive; font-size:30px;">Better an Opps.!.</p>
        <p style="font-family: 'Satisfy', cursive; font-size:30px;">than a What if?!..</p>
    </div>
<div class="main-container">
    <div class="sub-container">
        <div class="scroll-box">
            <section>
                <h1 style="column-span: all;">Title</h1>
                <p class="columns">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque iusto consectetur perferendis dignissimos. Incidunt necessitatibus porro voluptates doloremque recusandae magnam praesentium, fugit excepturi ipsum pariatur, nam velit sed, aspernatur culpa? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae vero odio culpa magni sequi, alias sed provident, veniam quos consequuntur magnam et excepturi eveniet dolores cumque! Dignissimos dolorem illo corporis totam, rerum facere eum assumenda cumque doloribus exercitationem nihil neque voluptatum sunt nesciunt corrupti et, inventore eligendi optio ipsam porro quisquam aliquid. Corporis officiis aut culpa in labore quae reiciendis itaque repellat explicabo voluptates est sed repudiandae magnam ut earum libero obcaecati, dolor dignissimos cumque voluptatum sit amet nobis inventore! Est voluptas voluptate illo voluptates omnis, culpa modi impedit magni, corrupti porro quae, beatae consectetur ullam? Nisi eum quae totam quam, iure quisquam. Facere similique maiores voluptatem culpa officia hic architecto, unde ratione doloremque, molestiae fugiat? Magni est quod quis placeat molestiae aperiam reprehenderit nisi ipsam ea numquam. Quaerat iste quisquam optio architecto rerum alias tempore vitae, unde facilis ullam ipsum repudiandae quas voluptatem atque perspiciatis similique! Odit, iste explicabo. Fugiat, neque. Ratione harum laudantium ea animi consectetur iste totam voluptate fugiat quae molestiae eum doloremque, autem rerum labore maxime vero amet dolore veniam accusantium sint laborum nulla tempora consequatur? Vero ipsum in officia asperiores voluptatum qui, aliquam ea quae eius debitis velit perspiciatis molestias ipsam natus nulla dolorum optio? Dolores obcaecati vero ab amet quis pariatur officia deserunt sapiente, magni dolorum quia eum ea, dolorem nostrum, inventore voluptas sit. Officia eaque ipsa maxime possimus eius reprehenderit animi accusamus! Sit facilis, laboriosam necessitatibus tempore natus deleniti ad ex magni quaerat, assumenda nulla minima quos facere accusamus ullam! Impedit mollitia id vero vitae dolorum aliquam dicta in fuga, dolores numquam neque eligendi sequi vel distinctio sunt accusamus quas excepturi, nihil laborum similique consequatur. Minus quae officiis veniam ipsa qui dolorum numquam sit? Assumenda rerum sit quam itaque, aperiam, sint quia omnis quisquam ex quos deserunt. Minus harum consequuntur esse unde aliquam earum vitae. Velit dolores, possimus eaque praesentium voluptatibus explicabo quam dignissimos ratione delectus distinctio quia, reprehenderit odit ipsam quidem, ipsa numquam repudiandae ipsum natus unde pariatur illo. Praesentium, ut veritatis officiis, repudiandae at tempora aut, unde facilis explicabo facere maiores! Sequi sit saepe, soluta repellat voluptas, beatae nostrum fugit repellendus molestias quia cupiditate! Quibusdam saepe unde, doloribus est deserunt possimus a! Delectus magnam labore illo dolorem ratione voluptates aliquid inventore ipsa, eaque autem, obcaecati consectetur, architecto animi! Ea itaque enim, magni accusantium numquam dolores ut ex et, laboriosam, delectus sunt repudiandae! Laboriosam minus repellendus quae architecto illo expedita adipisci dicta.
                </p>
            </section>
            <aside>
                <div class="aside-box">
                    <h2>title</h2>
                    <p style="text-align: justify;"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam voluptatibus ad necessitatibus
                        ex reiciendis incidunt accusantium laborum veniam maxime! Quis perspiciatis iure earum fuga,
                        expedita exercitationem doloremque nulla. Saepe, sint?</p>
                </div>
            </aside>
        </div>
    </div>
</div>
