
<div class="wrapper">
    <div class="p-2 w-100">
        <h1 class="home__title">Hi,<br>I'am <span class="home__title-color">Hetkumar</span><br>Computer<br> Programmer
        </h1>

        <a href="#contact" class="button">Contact</a>

        <a href="" class="home__social-icon"><i class='bx bxl-linkedin'></i></a>
        <a href="" class="home__social-icon"><i class='bx bxl-behance'></i></a>
        <a href="" class="home__social-icon"><i class='bx bxl-github'></i></a>
    </div>

    <div class=" item one"> <img src="../images/about.jpeg" alt=""> </div>
    
</div> 