
<div class="wrapper">
    <div class="p-2 w-100">
        <h1 class="home_title">Hi,<br>I'am <span class="home_title-color">Hetkumar</span><br>Computer<br> Programmer
        </h1>

        <div class="btn-container">
            <a href="#contact" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" style="background-color:#8BC34A">Contact</a>
        </div>

        <a href="" class="home__social-icon"><i class='bx bxl-linkedin'></i></a>
        <a href="" class="home__social-icon"><i class='bx bxl-behance'></i></a>
        <a href="" class="home__social-icon"><i class='bx bxl-github'></i></a>
    </div>

    <div class=" item one"> <img src="../images/about.jpeg" alt=""> </div>
    
</div> 