<section class="projects">
    <div class="heading">
        <h1 class="contact-title">My Projects</h1>
        <p class="contact-content">"Expect the best, plan for the worst, and prepare to be surprised."</p>
        <p class="contact-content">Click to have A Look</p>
    </div>

    <div class="row">
        <div class="workContainer column">
            <img class="work-img" src="../images/work1.jpg" alt="Avatar" class="image">
            <div class="overlay">
                <div><a class="text" href="https://formvalidationlogin.z13.web.core.windows.net/">Form Validation Login</a></div>
            </div>
        </div>
        <div class="workContainer column">
            <img class="work-img" src="../images/work2.jpg" alt="Avatar" class="image">
            <div class="overlay">
                <div><a  class="text" href="https://temperatureconvertor.z13.web.core.windows.net/">Temprature Convertor</a> </div>
            </div>
        </div>
        <div class="workContainer column">
            <img class="work-img" src="../images/work3.jpg" alt="Avatar" class="image">
            <div class="overlay">
                <div><a  class="text" href="https://projectimageslider.z13.web.core.windows.net/">Image Slider</a> </div>
            </div>
        </div>
        <div class="workContainer column">
            <img class="work-img" src="../images/work4.jpg" alt="Avatar" class="image">
            <div class="overlay">
                <div><a  class="text" href="https://assignmentscript.z13.web.core.windows.net/"> To Do List- using Js</a></div>
            </div>
        </div>
        <div class="workContainer column">
            <img class="work-img" src="../images/work5.jpg" alt="Avatar" class="image">
            <div class="overlay">
                <div><a  class="text" href="https://bootstrapp.z13.web.core.windows.net/">Boostrap</a> </div>
            </div>
        </div>
        <div class="workContainer column">
            <img class="work-img" src="../images/work6.jpg" alt="Avatar" class="image">
            <div class="overlay">
                <div><a  class="text" href="https://projectstopwatch.z13.web.core.windows.net/"> Stop Watch</a></div>
            </div>
        </div>
        <div class="workContainer column">
            <img class="work-img" src="../images/work3.jpg" alt="Avatar" class="image">
            <div class="overlay">
                <div><a  class="text" href="https://appointmentbookingsystem.onrender.com"> Appointment booking system using expressJs and hbs</a></div>
            </div>
        </div>
        <div class="workContainer column">
            <img class="work-img" src="../images/work2.jpg" alt="Avatar" class="image">
            <div class="overlay">
                <div><a  class="text" href="https://wordandcharecterproject.z13.web.core.windows.net/">Character and Words Counter </a></div>
            </div>
        </div>
        <div class="workContainer column">
            <img class="work-img" src="../images/work1.jpg" alt="Avatar" class="image">
            <div class="overlay">
                <div><a  class="text" href="https://hetprojects.z13.web.core.windows.net/"> See More</a></div>
            </div>
        </div>

    </div>
</section>